@use '../abstracts/' as *;

.button {
  background: linear-gradient(90deg, hsl(180, 100%, 25%), $clr-purple);
  border: none;
  border-radius: 10px;
  padding: $size-125;
  cursor: pointer;
  font-weight: $fw-semibold;
  color: $clr-neutral-900;

  &:hover {
    filter: brightness(1.15);
  }
}
