@use '../abstracts/' as *;

.dropdown {
  background-color: $clr-primary-300;
  color: $text-color;
  padding: $size-75;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $clr-primary-600;
  }
}

.dropdown.date-option {
  font-size: 1rem;
}

