@use '../abstracts/' as *;

.toggle-theme_position {
  width: 100%;
  padding-top: $size-200;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $clr-primary-600;
    height: 2px;
    width: 100%;
    border-radius: 100vw;
  }

  .toggle-theme_container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;

    &:has(:focus-visible) {
      outline: 2px solid $clr-primary-600;
      outline-offset: 2px;
    }
  }

  .toggle-theme_container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .toggle-theme_container label {
    height: 100%;
    width: 100%;
    background-color: $clr-primary-300;
    border: 2px solid $clr-primary-600;
    border-radius: 50%;


  }

  .toggle-theme_container input:checked + label {
    background-color: orange;
    border: 2px solid white;
  }

  .toggle-theme_container input:checked + label .moon {
      display: none;
  }

  .toggle-theme_container input:checked + label .sun {
      display: block;
  }

  .moon {
    font-size: 1.1rem;
    color: hsl(240, 15%, 56%);
  }

  .sun {
    font-size: 1.1rem;
    display: none;
    color: white;
  }

}