:root {
  --clr-neutral-100: hsl(0, 0%, 17%);
  --clr-neutral-300: hsl(0, 0%, 27%);
  --clr-neutral-900: hsl(0, 0%, 95%);

  --clr-primary-50: hsl(240, 15%, 8%);
  --clr-primary-100: hsl(240, 15%, 10%);
  --clr-primary-200: hsl(240, 15%, 14%);
  --clr-primary-300: hsl(240, 15%, 18%);
  --clr-primary-400: hsl(240, 15%, 24%);
  --clr-primary-600: hsl(240, 15%, 32%);
  --clr-primary-700: hsl(240, 15%, 36%);
  --clr-primary-900: hsl(240, 15%, 50%);

  --clr-purple: hsl(253, 62%, 40%);
  --clr-red: hsl(0, 100%, 28%);
  --text-color: var(--clr-neutral-900);

  --placeholder-color: hsla(0, 0%, 100%, 0.20);
}

html[data-theme='light'] {
  --clr-primary-50: hsl(226, 39%, 20%);
  --clr-primary-100: hsl(0, 0%, 99%);
  --clr-primary-150: hsl(0, 0%, 97%);
  --clr-primary-200: hsl(0, 0%, 95%);
  --clr-primary-300: hsl(0, 0%, 91%);
  --clr-primary-400: hsl(240, 15%, 80%);
  --clr-primary-600: hsl(240, 15%, 70%);
  --clr-primary-700: hsl(240, 15%, 60%);

  --text-color: var(--clr-neutral-100);
  --placeholder-color: hsla(0, 0%, 20%, 0.4);
}


