// Colors
$clr-neutral-100: var(--clr-neutral-100);
$clr-neutral-300: var(--clr-neutral-300);
$clr-neutral-900: var(--clr-neutral-900);

$clr-primary-50: var(--clr-primary-50);
$clr-primary-100: var(--clr-primary-100);
$clr-primary-200: var(--clr-primary-200);
$clr-primary-300: var(--clr-primary-300);
$clr-primary-400: var(--clr-primary-400);
$clr-primary-600: var(--clr-primary-600);
$clr-primary-700: var(--clr-primary-700);
$clr-primary-900: var(--clr-primary-900);

$placeholder-clr: var(--placeholder-color);
$clr-purple: var(--clr-purple);
$clr-red: var(--clr-red);

// Size
$size-25: var(--size-25);
$size-50: var(--size-50);
$size-75: var(--size-75);
$size-100: var(--size-100);
$size-125: var(--size-125);
$size-150: var(--size-150);
$size-200: var(--size-200);
$size-250: var(--size-250);
$size-300: var(--size-300);
$size-350: var(--size-350);
$size-400: var(--size-400);
$size-450: var(--size-450);
$size-500: var(--size-500);
$size-550: var(--size-550);
$size-600: var(--size-600);
$size-625: var(--size-625);
$size-650: var(--size-650);
$size-700: var(--size-700);
$size-750: var(--size-750);
$size-800: var(--size-800);
$size-850: var(--size-850);
$size-900: var(--size-900);

// Font Family

$ff-primary: var(--ff-primary);

// Font Weight
$fw-extralight: var(--fw-extralight);
$fw-light: var(--fw-light);
$fw-regular: var(--fw-regular);
$fw-medium: var(--fw-medium);
$fw-semibold: var(--fw-semibold);
$fw-bold: var(--fw-bold);
$fw-bolder: var(--fw-bolder);
$fw-extrabold: var(--fw-extrabold);
$fw-maxibold: var(--fw-maxibold);

// Body
$body-bg: $clr-primary-100;
$text-color: var(--text-color);

// Nav 
$header-size: var(--header-size);
$headerlobby-size: var(--headerlobby-size);
$nav-bg: $clr-primary-100;
$nav-text-color: var(--text-color);






