@use '../abstracts/' as *;

.main-page {

  header {
    padding: $size-200 $size-100;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 15%);
    background-color: $clr-primary-50;
    border-bottom: 1px solid $clr-primary-300;
    z-index: 3;
    height: 68px;

    @include mq(phone-small) {
      gap: $size-200;
    }
  }

  .header_settings {
    bottom: -184px;
    right: 0px;
    position: absolute;
    background-color: $clr-primary-50;
    padding: $size-200 $size-400;
    gap: $size-200;
    border-radius: 0 0 0 15px;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 15%);
    transition: all 0.5s;
    clip-path: circle(0% at 100% 0);
  }

  .settings-icon {
    color: $clr-primary-600;
  }


  .header_settings.active {
    clip-path: circle(100%);
  }

  .inputs-container {
      gap: $size-200;
      width: 100%;
      height: calc(100vh - (68px + 164px));
      padding: $size-250 $size-100;
      overflow-x: auto;

      .label {
        margin-left: $size-400;
        // font-weight: $fw-medium;
      }

      .inputs_limit {
        color: $clr-primary-900;
        font-weight: $fw-semibold;
      }
  }

  .button.settings_button {
    position: absolute;
    right: 20px;
    font-size: 1rem;

    @include mq(phone-small) {
      position: relative;
      right: 0;
    }
  }

  .button.add-button {
    height: 34px;
    width: 34px;
    min-width: 34px;
    border-radius: 50%;
    padding: 0;
  }

  .button.delete {
    background: linear-gradient(90deg, hsl(335, 100%, 40%), $clr-red);
  }

  .button.cancel {
    background: hsl(0, 0%, 25%);
    background: linear-gradient(90deg, hsl(183, 12%, 32%), hsl(0, 0%, 25%));
  }

  .button-delete-cancel_container {
    background-color: $clr-primary-50;
    padding: $size-200;
    border-radius: 15px 15px 0 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 164px;
    margin-inline: auto;

    @include mq(phone-small) {
      flex-direction: column;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 164px;
    padding: $size-200 $size-150;
    box-shadow: 0 -5px 10px hsla(0, 0%, 0%, 15%);
    background-color: $clr-primary-50;
    border-top: 1px solid $clr-primary-300;
  }

  .result {
    font-size: 1.1rem;
    color: hsl(180, 100%, 40%);
    font-weight: $fw-semibold;
  }

  .input-date_container {
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    padding: $size-200;
    border-radius: 15px;
  }

  .date-option {
    margin-bottom: $size-100;
  }
}

html[data-theme='light'] {
  .main-page {
    header {
      border-bottom: 1px solid hsl(226, 39%, 30%);
    }
  }
}