@use '../abstracts/' as *;

.main-page {

  // Header & Header_settings

  header {
    padding: $size-200;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 15%);
    background-color: $clr-primary-50;
    border-bottom: 1px solid $clr-primary-300;
    z-index: 3;
    height: 68px;

    @include mq(phone) {
      gap: $size-200;
      justify-content: space-around;
    }
  }

  .money-header {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: $fw-semibold;
    font-size: 1.2rem;
    color: $clr-primary-700;

    @include mq(phone) {
      position: relative;
      transform: translateY(0);
      right: 0;
      top: 0;
    }
  }

  .header_settings {
    top: calc(100% + 1px);
    right: 0px;
    position: absolute;
    background-color: $clr-primary-50;
    padding: $size-200 $size-300;
    gap: $size-200;
    border-radius: 0 0 0 15px;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 15%);
    transition: all 0.5s;
    clip-path: circle(0% at 100% 0);
  }

  .header_settings.active {
    clip-path: circle(100%);
  }

  .settings-icon {
    color: $clr-primary-600;
  }

  .button.settings_button {
    position: absolute;
    right: 20px;
    font-size: 1rem;

    @include mq(phone) {
      position: relative;
      right: 0;
    }
  }

  // Inputs container

  .inputs-container {
      gap: $size-200;
      width: 100%;
      height: calc(100vh - (68px + 164px));
      height: calc(100svh - (68px + 164px));
      padding: $size-250 $size-100;
      overflow-x: auto;

      .label {
        margin-left: $size-400;
      }

      .inputs_limit {
        color: $clr-primary-900;
        font-weight: $fw-semibold;
      }
  }

  // Bottom & Buttons

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 164px;
    padding: $size-200 $size-150;
    box-shadow: 0 -5px 10px hsla(0, 0%, 0%, 15%);
    background-color: $clr-primary-50;
    border-top: 1px solid $clr-primary-300;
  }

  .button.add-button {
    height: 34px;
    width: 34px;
    min-width: 34px;
    border-radius: 50%;
    padding: 0;
  }

  .button.red-button {
    background: linear-gradient(90deg, hsl(335, 100%, 40%), $clr-red);
  }

  .button.grey-button {
    background: linear-gradient(90deg, hsl(183, 12%, 32%), hsl(0, 0%, 25%));
  }

  .button-delete-cancel_container {
    background-color: $clr-primary-50;
    padding: $size-200;
    border-radius: 15px 15px 0 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 1px);
    margin-inline: auto;

    @include mq(phone-small) {
      flex-direction: column;
    }
  }

  .result {
    font-size: 1.1rem;
    color: hsl(180, 100%, 40%);
    font-weight: $fw-semibold;
  }

  // Modal save

  .modal-save_radio {
    label {
      width: 100%;
      height: 100%;
      border: 2px solid hsla(0, 0%, 100%, 0.1);
      padding: $size-100;
      border-radius: 15px;

      &:hover {
        border: 2px solid hsla(0, 0%, 100%, 0.3);
        background-color: $clr-primary-100;
      }
    }

    input:checked + label {
      border: 2px solid hsl(180, 100%, 35%);
      background-color: hsla(180, 100%, 20%, 0.3)
    }
  }

  .profil_name {
    font-weight: $fw-medium;
    letter-spacing: 0.5px;
  }

  .profil_infos {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    opacity: 0.7;
    white-space: nowrap;
  }

  // Modal PDF

  .input-date_container {
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    padding: $size-200;
    border-radius: 15px;
  }

  .date-option {
    margin-bottom: $size-100;
  }
}


// Light Theme

html[data-theme='light'] {
  .main-page {
    header {
      border-bottom: 1px solid hsl(226, 39%, 30%);
    }

    .bottom {
      border-top: 1px solid hsl(226, 39%, 30%);
    }

    .modal-save_radio {
      label {
        &:hover {
          border: 2px solid hsla(0, 0%, 100%, 0.3);
          background-color: hsl(226, 39%, 23%);
        }
      }
  
      input:checked + label {
        border: 2px solid hsl(180, 100%, 35%);
        background-color: hsla(180, 100%, 20%, 0.3)
      }
    }
  }
}