@use '../abstracts/' as *;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.stop-transitions * {
  transition: none !important;
}

body {
  background-color: $body-bg;
  color: $text-color;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: $ff-primary;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img, picture {
    max-width: 100%;
    display: block;
}

/*** Page flex ***/

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  height: 100%;
}

/*** Input ***/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: none !important;
  -moz-appearance: textfield !important;
}

input[type=radio] {
  appearance: none;
  -moz-appearance: none;
}